
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Plz</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_key" >
	<tr>
		<th><f:translate key="tx_key_domain_model_plz.plz" /></th>
		<th><f:translate key="tx_key_domain_model_plz.ort" /></th>
		<th><f:translate key="tx_key_domain_model_plz.strasse" /></th>
		<th><f:translate key="tx_key_domain_model_plz.hausnr" /></th>
		<th><f:translate key="tx_key_domain_model_plz.zusatz" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{plzs}" as="plz">
		<tr>
			<td><f:link.action action="show" arguments="{plz : plz}"> {plz.plz}</f:link.action></td>
			<td><f:link.action action="show" arguments="{plz : plz}"> {plz.ort}</f:link.action></td>
			<td><f:link.action action="show" arguments="{plz : plz}"> {plz.strasse}</f:link.action></td>
			<td><f:link.action action="show" arguments="{plz : plz}"> {plz.hausnr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{plz : plz}"> {plz.zusatz}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{plz : plz}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{plz : plz}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Plz</f:link.action>
</f:section>