
<label for="plz">
	<f:translate key="tx_key_domain_model_plz.plz" />
</label><br />
	<f:form.textfield property="plz" /><br />
<label for="ort">
	<f:translate key="tx_key_domain_model_plz.ort" />
</label><br />
	<f:form.textfield property="ort" /><br />
<label for="strasse">
	<f:translate key="tx_key_domain_model_plz.strasse" />
</label><br />
	<f:form.textfield property="strasse" /><br />
<label for="hausnr">
	<f:translate key="tx_key_domain_model_plz.hausnr" />
</label><br />
	<f:form.textfield property="hausnr" /><br />
<label for="zusatz">
	<f:translate key="tx_key_domain_model_plz.zusatz" />
</label><br />
	<f:form.textfield property="zusatz" /><br />