
<table class="tx-key" >
	<tr>
		<td>
			<f:translate key="tx_key_domain_model_plz.plz" />
		</td>
		<td>
		{plz.plz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_key_domain_model_plz.ort" />
		</td>
		<td>
		{plz.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_key_domain_model_plz.strasse" />
		</td>
		<td>
		{plz.strasse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_key_domain_model_plz.hausnr" />
		</td>
		<td>
		{plz.hausnr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_key_domain_model_plz.zusatz" />
		</td>
		<td>
		{plz.zusatz}
		</td>
	</tr>
</table>